### Q1. Create one variable containing following type of data

In [2]:
#(1) string
"Shahrukh"

'Shahrukh'

In [3]:
#(2) list
l = [2,4,5, "pwskills", 34.45, True]

In [4]:
l

[2, 4, 5, 'pwskills', 34.45, True]

In [6]:
#(3)float
345.56

345.56

In [7]:
#(4)tupie
t = (10,40,70)

In [8]:
t

(10, 40, 70)

### Q2. Given are some following variables containing data:

### What will be the data type of the below given variable.

In [11]:
var1 = ' '

In [12]:
type(var1)

str

In [14]:
var2 = '[ DS , ML , Python]'

In [15]:
type(var2)

str

In [17]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [18]:
type(var3)

list

In [19]:
var4 = 1.

In [20]:
type(var4)

float

### Q3. Explain the use of the following operators using an example:

In [21]:
#1./ division
15/3

5.0

In [23]:
#2. % modulus
7%2 #here 1 is reminder

1

In [24]:
#3. // floor diivision
7//2

3

In [25]:
#4. ** exponent(power)
2**4

16

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
### element and its data type.

In [26]:
l1 = [2,4,6,8, "shahrukh", 34.45, (9,10), True]

In [27]:
for i in l1:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'tuple'>
<class 'bool'>

In [28]:
for i in l1:
    print(i, '=',type(i))

2 = <class 'int'>
4 = <class 'int'>
6 = <class 'int'>
8 = <class 'int'>
shahrukh = <class 'str'>
34.45 = <class 'float'>
(9, 10) = <class 'tuple'>
True = <class 'bool'>

'''
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
'''

In [29]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

n = 0  
while A % B == 0: 
    n += 1  
    A = A / B  
if n > 0:
    print(f"{A} can be divided by {B} {n} times")
else:
    print(f"{A} is not divisible by {B}")

Enter the number A:  25
Enter the number B:  5

1.0 can be divided by 5 2 times

In [30]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

n = 0  
while A % B == 0: 
    n += 1  
    A = A / B  
if n > 0:
    print(f"{A} can be divided by {B} {n} times")
else:
    print(f"{A} is not divisible by {B}")

Enter the number A:  25
Enter the number B:  4

25 is not divisible by 4


Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [44]:
l2 = list(range(25))

In [45]:
l2

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24]

In [46]:
for x in l2:
    if x%3==0:
        print(x)
    else:
        print('not dividible by 3')

0
not dividible by 3
not dividible by 3
3
not dividible by 3
not dividible by 3
6
not dividible by 3
not dividible by 3
9
not dividible by 3
not dividible by 3
12
not dividible by 3
not dividible by 3
15
not dividible by 3
not dividible by 3
18
not dividible by 3
not dividible by 3
21
not dividible by 3
not dividible by 3
24

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

### Ans. 
 A mutable Data type that can be changed.
Example- list is mutable

In [47]:
l3 = [23,34,45, "shahrukh",]

In [48]:
l3

[23, 34, 45, 'shahrukh']

In [51]:
l3[2] = '55'

In [52]:
l3

[23, 34, '55', 'shahrukh']

A Data type that can not be changed.
Example- stinrg

In [53]:
a = "shahrukh"

In [54]:
a

'shahrukh'

In [ ]:
a[3] = g